body{
    display: flex;
    align-items: center; 
    align-content: center;
    justify-content: center;
    background-color: #7aa0ff;
    flex-direction: column;
}
#text-task{
    width: 200px;
    height: 25px;
    border-radius: 8px;
}
#add-button{
    width: 80px;
    height: 30px;
    border-radius: 8px;
    background-color: #fcfcfc;
}
#add-button:hover{
    background-color: antiquewhite;
}
.block{
    width: 255px;
    height: 45px;
    background-color: #fcfcfc;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 11px 46px -1px rgba(34, 60, 80, 0.22);
    flex-direction: column;
    align-items: center;
}
.con{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}
.con2{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}
.con-newbl{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.confirmb{
    width: 35px;
    height: 35px;
    background-color: green;
    border-radius: 8px;
}
.deleteb{
    width: 35px;
    height: 35px;
    background-color: red;
    border-radius: 8px;
    margin-right: 20px;
}
.new-input{
    height: 35px;
    width: 150px;
    margin-right: 10px;
}
.new-button{
   width: 35px;
   height: 35px; 
   width: 35px;
   height: 35px;
}